.snapshot-style {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    width: 125px !important;
    height: 35px !important;
    border: medium none !important;
    display: block !important;
    position: fixed !important;
    transition: transform 0.5s ease 0s !important;
    bottom: 0px !important;
    right: 2em !important;
    transform: translateY(0px) !important;
  }